<h2>Wofür steht P.R.I.S.M.?</h2>

<p>P.R.I.S.M steht für "postmortem regenerational iteration of the system of the mind". Oder anders ausgedrückt: Das
    Projekt soll es ermöglichen, nach dem Tod den Verstand wiederherzustellen, in eine Cloud hochzuladen und durch die
    letzten Erinnerungen zu iterieren.</p>
<p>Auch wenn dieser Vorgang erst nach dem Tod initiiert wird, so steht die Würde und das Wohlbefinden der Verstorbenen
    an erster Stelle. Eine einladende virtuelle Umgebung sorgt dafür, dass Angstgefühle möglichst vermieden werden.</p>
<p class="magicHeadWithHair">
    <span>&#9068;</span><span>&#9068;</span><span>&#9068;</span><span>&#9068;</span><span>&#9068;</span><span>&#9068;</span><span>&#9068;</span>
</p>
<p>Menschen sind soziale Wesen - unsere innovativen, in Regenbogenfarben gehaltenen NPCs werden aus den abgerufenen
    Erinnerungen individuell generiert, um nach dem Tod ein möglichst angenehmes Erlebnis zu garantieren.</p>

<div class="mycontainer">
    <div>
        <button class="btn" (click)="displayInfo()">Mehr erfahren</button>

    </div>
    <div>
        <button class="btn" (click)="reloadPage()">Abbruch</button>
    </div>
</div>

@if(someContent){ 
    <app-game></app-game>
}