<h2>Wofür steht P.R.I.S.M.?</h2>

<p>P.R.I.S.M steht für "postmortem regenerational iteration of the system of the mind". Oder anders ausgedrückt: Das Projekt soll es ermöglichen, nach dem Tod den Verstand wiederherzustellen, in eine Cloud hochzuladen und durch die letzten Erinnerungen zu iterieren.</p>
<p>Auch wenn dieser Vorgang erst nach dem Tod initiiert wird, so steht die Würde und das Wohlbefinden der Verstorbenen an erster Stelle. Eine einladende virtuelle Umgebung sorgt dafür, dass Angstgefühle möglichst vermieden werden.</p>
<p style="font-size: xx-large;">&#9068; &#9068; &#9068; &#9068; &#9068;</p>