.magicHeadWithHair{
    font-size: xx-large;
}


.magicHeadWithHair>*:nth-child(7n + 1){
    color:var(--purple);
}

.magicHeadWithHair>*:nth-child(7n + 2){
    color:var(--darkblue);
}

.magicHeadWithHair>*:nth-child(7n + 3){
    color:var(--lightblue);
}

.magicHeadWithHair>*:nth-child(7n + 4){
    color:var(--green);
}

.magicHeadWithHair>*:nth-child(7n + 5){
    color:var(--yellow) !important;
}

.magicHeadWithHair>*:nth-child(7n + 6){
    color:var(--orange-red);
}

.magicHeadWithHair>*:nth-child(7n){
    color:var(--red);
}

.mycontainer div {
    width:50%;  
    display: inline-block;}