div.rainbowdash>*:nth-child(7n + 1){
    background-color:var(--purple);
    color: var(--yellow);
}

div.rainbowdash>*:nth-child(7n + 2){
    background-color:var(--darkblue);
}

div.rainbowdash>*:nth-child(7n + 3){
    background-color:var(--lightblue);
}

div.rainbowdash>*:nth-child(7n + 4){
    background-color:var(--green);
}

div.rainbowdash>*:nth-child(7n + 6){
    background-color:var(--yellow);
}

div.rainbowdash>*:nth-child(7n + 6){
    background-color:var(--orange-red);
}

div.rainbowdash>*:nth-child(7n){
    background-color:var(--red);
}