<h2>Wie stellt P.R.I.S.M. das Wohlbefinden der Toten sicher?</h2>
<p>Anhand des gescannten Erinnerungsmaterials berechnet unsere bahnbrechende KI sieben Persönlichkeiten, mit denen die
    Avatare der Toten interagieren können. Diese Persönlichkeiten, oder auch NPCs, sind auf größtmögliche Freundlichkeit
    hin optimiert. Die Algorythmen, die hierbei genutzt werden, unterlaufen ständigen Qualitätskontrollen und
    Anpassungen durch unser Team.</p>
<p>Einen kleinen Vorgeschmack darauf, wie die individuellen NPCs heißen und aussehen könnten, gibt dieser
    Persönlichkeitstest. Beantworten Sie einige einfache Fragen und finden Sie heraus, wie Ihre Begleitungen heißen
    könnten.</p>

<h3>Bitte beachten Sie, dass die Ergebnisse anhand Ihrer Antworten generiert werden und von Ergebnissen abweichen
    können, die tatsächlich mit einem Upload Ihres Verstandes generiert werden könnten.</h3>

    <div class="rainbowdash">

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, asperiores ducimus aliquid
    perspiciatis accusamus itaque quod reprehenderit exercitationem, quibusdam consectetur minima necessitatibus
    aspernatur vel culpa quas, quis nisi vero velit?</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto illo ex similique officia
    ad culpa recusandae quam consectetur at nam. Non distinctio et sapiente ipsam cum error pariatur perferendis
    officiis.</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, asperiores ducimus aliquid
    perspiciatis accusamus itaque quod reprehenderit exercitationem, quibusdam consectetur minima necessitatibus
    aspernatur vel culpa quas, quis nisi vero velit?</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto illo ex similique officia
    ad culpa recusandae quam consectetur at nam. Non distinctio et sapiente ipsam cum error pariatur perferendis
    officiis.</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, asperiores ducimus aliquid
    perspiciatis accusamus itaque quod reprehenderit exercitationem, quibusdam consectetur minima necessitatibus
    aspernatur vel culpa quas, quis nisi vero velit?</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto illo ex similique officia
    ad culpa recusandae quam consectetur at nam. Non distinctio et sapiente ipsam cum error pariatur perferendis
    officiis.</div>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto illo ex similique officia
    ad culpa recusandae quam consectetur at nam. Non distinctio et sapiente ipsam cum error pariatur perferendis
    officiis.</div>
</div>