.rainbowdash{
    font-size: large;

}

.rainbowdash>*:nth-child(7n + 1){
    background-color:var(--purple);
    color: var(--yellow)!important;
}

.rainbowdash>*:nth-child(7n + 2){
    background-color:var(--darkblue);
    color: var(--yellow)!important;
}

.rainbowdash>*:nth-child(7n + 3){
    background-color:var(--lightblue);
    color: var(--darkblue)
}

.rainbowdash>*:nth-child(7n + 4){
    background-color:var(--green);
    color: var(--darkblue);
}

.rainbowdash>*:nth-child(7n + 5){
    background-color:var(--yellow)!important;
    color: var(--purple)
}

.rainbowdash>*:nth-child(7n + 6){
    background-color:var(--orange-red);
    color: var(--darkblue);
}

.rainbowdash>*:nth-child(7n){
    background-color:var(--red);
    color: var(--yellow);
}

.btn1{
    background-color: var(--gray-400);
    border: none;
    color: var(--gray-900);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn2{
    background-color: var(--gray-400);
    border: none;
    color: var(--gray-900);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn3{
    background-color: var(--gray-400);
    border: none;
    color: var(--gray-900);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn4{
    background-color: var(--gray-400);
    border: none;
    color: var(--gray-900);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn5{
    background-color: var(--gray-400);
    border: none;
    color: var(--gray-900);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn6{
    background-color: var(--gray-400);
    border: none;
    color: var(--gray-900);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn7{
    background-color: var(--gray-400);
    border: none;
    color: var(--gray-900);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}