<h2>Wie stellt P.R.I.S.M. das Wohlbefinden der Toten sicher?</h2>
<p>Anhand des gescannten Erinnerungsmaterials berechnet unsere bahnbrechende KI sieben Persönlichkeiten, mit denen die
    Avatare der Toten interagieren können. Diese Persönlichkeiten, oder auch NPCs, sind auf größtmögliche Freundlichkeit
    hin optimiert. Die Algorythmen, die hierbei genutzt werden, unterlaufen ständigen Qualitätskontrollen und
    Anpassungen durch unser Team.</p>
<p>Einen kleinen Vorgeschmack darauf, wie die individuellen NPCs heißen und aussehen könnten, gibt dieser
    Persönlichkeitstest. Beantworten Sie einige einfache Fragen und finden Sie heraus, wie Ihre Begleitungen heißen
    könnten.</p>

<h3>Bitte beachten Sie, dass die Ergebnisse anhand Ihrer Antworten generiert werden und von Ergebnissen abweichen
    können, die tatsächlich mit einem Upload Ihres Verstandes generiert werden könnten.</h3>

<div class="rainbowdash">

    <div>Die erste Frage ist einfach: Wählen Sie eine Jahreszeit aus!<br>
        <button class="btn">Frühling</button>
        <button class="btn">Sommer</button>
        <button class="btn">Herbst</button>
        <button class="btn">Winter</button>
    </div>

    <div>Die zweite Frage lautet: Wie fällen Sie meist wichtige Entscheidungen?
        <br>
        <button class="btn">Mit dem Herzen</button>
        <button class="btn">Aus dem Bauch heraus</button>
        <button class="btn">Mal so mal so</button>
        <button class="btn">Durch intensives Nachdenken</button>
    </div>

    <div>Die dritte Frage lautet: Zu welcher Tageszeit sind Sie besonders aktiv?<br>
        <button class="btn">Morgens</button>
        <button class="btn">Mittags</button>
        <button class="btn">Abends</button>
        <button class="btn">Nachts</button>
    </div>

    <div>Die vierte Frage lautet: Wie lösen Sie Konfliktsituationen?<br>
        <button class="btn">Ich versuche, die Parteien zu beeinflussen und Lösungen anzuregen.</button>
        <button class="btn">Ich übe Druck aus und erkläre den Konflikt für beendet.</button>
        <button class="btn">Ich unterstütze alle Seiten darin, sich miteinander auszusprechen.</button>
        <button class="btn">Ich höre allen gut zu und appeliere dann an ihr Gewissen.</button>


    </div>

    <div>Die fünfte Frage lautet: Wie werden Sie meist von anderen beschrieben?<br>
        <button class="btn">Emotional, sensibel und/oder fröhlich.</button>
        <button class="btn">Spontan, draufgängerisch, und/oder wild.</button>
        <button class="btn">Sanftmütig, ausgeglichen und/oder flexibel.</button>
        <button class="btn">Besonnen, ruhig, und/oder schlau.</button></div>

    <div>Die sechste Frage lautet: Wie beschreiben Sie sich selbst?<br>
        <button class="btn">Optimistisch - das Glas ist halb voll.</button>
        <button class="btn">Situationsabhängig - wenn ich das Glas zur Hälfte gefüllt habe, ist es halbvoll. Wenn ich es zur Hälfte getrunken habe, halbleer.</button>
        <button class="btn">Mit dem Fluss gehend - das Glas ist genau so, wie es gerade gebraucht wird.</button>
        <button class="btn">Situationsbezogen - es IST Trinkwasser im Glas. Und das wird jetzt getrunken.</button></div>

    <div>Und zu guter Letzt, die siebte Frage: Welches Element spricht Sie am meisten an?<br>
        <button class="btn">Luft</button>
        <button class="btn">Feuer</button>
        <button class="btn">Erde</button>
        <button class="btn">Wasser</button></div>
</div>