<p>Sie müssen sich als würdig erweisen, um Zugriff auf weitere Inhalte von P.R.I.S.M. zu erhalten.</p>

@defer (on interaction; on timer(5s)){
    <button class="btn" (click)="value = !value">Start</button>
   
    @if(value){
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="solution">Ihre Lösung:</label>
        <input id="solution" type="text" formControlName="solution"/>

        <div *ngIf="solution.invalid && (solution.dirty || solution.touched)"
        class="alert alert-danger">
      <div *ngIf="solution.hasError('required')">
       Es ist nicht möglich, weiterzumachen, ohne eine Eingabe zu tätigen.
      </div>
      <div *ngIf="solution.hasError('minlength')">
        Die Eingabe muss mindestens vier Zeichen lang sein.
      </div>
      <div *ngIf="solution.hasError('forbiddenName')">
        Herzlichen Glückwunsch. Sie haben eine erlaubte Eingabe getätigt.
      </div>
    </div>
        <br>
        <button type="submit" [disabled]="!profileForm.valid">Absenden</button>
      
        <p>Kontrolle: {{ solution.value }}</p>
      </form>
    }


    } @placeholder {
        <p>Verarbeitung läuft ... Bitte warten ... Bitte warten ...</p>
      }@loading (minimum 4s) {
        <p>Fast geschafft ...</p>
      }




