<p>Sie müssen sich als würdig erweisen, um Zugriff auf weitere Inhalte von P.R.I.S.M. zu erhalten.</p>

@defer (on interaction; on timer(5s)){
    <button class="btn" (click)="value = !value">Start</button>
   
    @if(value){
      <form [formGroup]="profileForm">
        <input type="text" formControlName="solution" required minlength="3"/>
        <br>
        <button type="submit" [disabled]="!profileForm.valid">Absenden</button>
        </form>
    }


    } @placeholder {
        <p>Verarbeitung läuft ... Bitte warten ... Bitte warten ...</p>
      }@loading (minimum 4s) {
        <p>Fast geschafft ...</p>
      }




