<main class="main">
  <link rel="stylesheet" href="app.component.css">

  <div class="content">
    <div class="left-side">
 
      <h1>Herzlich Willkommen bei {{ title }}.</h1>
      <p>Diese Webseite widmet sich der Entschlüsselung eines der größten Geheimnisse der Menschheit.</p>
      <p>Um Zugriff zu erhalten, müssen Sie sich zunächst identifizieren.</p>
      <app-identify></app-identify>
     
      @defer (on timer(7s)){
      <app-riddle></app-riddle>
    }@placeholder {
        <p>Verarbeitung läuft ... Bitte warten ...</p>
      }@loading (minimum 4s) {
        <p>Meta-Komponenten werden analysiert ...</p>
      }
      
    </div>
    <div class="divider rainbow-gradient" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
          { title: 'Die Hüterin aller Geheimnisse', link: 'https://feuerblut.com' },
          { title: 'Hier wird der Link zum Verlag stehen, sobald vorhanden', link: '#' },
          { title: 'Hier wird es zur Leseprobe gehen', link: '#' },
          { title: 'Hier kommt ein Link hin3', link: '#' },
          { title: 'Hier kommt ein Link hin4', link: '#' },
          { title: 'Hier kommt ein Link hin5', link: '#' },
          { title: 'Hier kommt ein Link hin6', link: '#' },
        ]; track item.title) {
          <a
            class="pill"
            [href]="item.link"
            target="_blank"
            rel="noopener"
          >
            <span>{{ item.title }}</span>
          </a>
        }
      </div>

         
      </div>
    </div>
</main>
<router-outlet />
