<main class="main">
  <link rel="stylesheet" href="app.component.css">

  <div class="content">
    <div class="left-side">
 
      <h1>Herzlich Willkommen bei {{ title }}.</h1>
      <p>Diese Webseite widmet sich der Entschlüsselung eines der größten Geheimnisse der Menschheit.</p>
      <p>Um Zugriff zu erhalten, müssen Sie sich zunächst identifizieren.</p>
      <app-identify></app-identify>
     
      @defer (on timer(7s)){
      <app-riddle></app-riddle>
    }@placeholder {
        <p>Verarbeitung läuft ... Bitte warten ...</p>
      }@loading (minimum 4s) {
        <p>Meta-Komponenten werden analysiert ...</p>
      }
      
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
          { title: 'Die Hüterin aller Geheimnisse', link: 'https://feuerblut.com' },
          { title: 'Hier wird der Link zum Verlag stehen, sobald vorhanden', link: '#' },
          { title: 'Hier wird es zur Leseprobe gehen', link: '#' },
          { title: 'Hier kommt ein Link hin3', link: '#' },
          { title: 'Hier kommt ein Link hin4', link: '#' },
          { title: 'Hier kommt ein Link hin5', link: '#' },
          { title: 'Hier kommt ein Link hin6', link: '#' },
        ]; track item.title) {
          <a
            class="pill"
            [href]="item.link"
            target="_blank"
            rel="noopener"
          >
            <span>{{ item.title }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="14"
              viewBox="0 -960 960 960"
              width="14"
              fill="currentColor"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
              />
            </svg>
          </a>
        }
      </div>

         
      </div>
    </div>
</main>
<router-outlet />
