<p>Geben Sie Ihren Namen ein.</p>
<br>
<form [formGroup]="profileForm">
    <input type="text" formControlName="username" />
    <br>
    <button type="submit" [disabled]="!profileForm.valid">Absenden</button>
<br>
    @defer (on interaction; on timer(5s)){


<label for="name">Guten Tag, {{ profileForm.value.username }}. Nun, da wir einander vorgestellt wurden, ist es Zeit für den nächsten Schritt.
</label>
} @placeholder {
    <p>Verarbeitung läuft ... Bitte warten ...</p>
  }@loading (minimum 4s) {
    <p>Bitte warten ...</p>
  

}

</form>