
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
      }
      h1{
        color: antiquewhite;
      }
      label{
        color:antiquewhite;
      }
      h2{
        color: antiquewhite;
      }
      h3{
        color: antiquewhite;
      }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(255, 192, 192);
      }
      label{
        color:rgb(255, 192, 192);
      }
}

@media (prefers-color-scheme: no-preference) {
    body {
        background-color: rgb(255, 127, 127);
      }
      label{
        color:rgb(255, 127, 127);
      }
}